<%- include('../pageHeader') %>

    <div class="cart-pageconfirm">
        <div class="h3suc">your order is complete!! >>>>> click here <a href="/" class="comfirm-links">go to home page</a>
            or <a href="/paymainpage" class="comfirm-links">go to pay your order</a>
        </div>
    </div>
    
    <%- include('../pageFooter') %>