<%- include('../header') %>

<div class="popup" id="popup">
    <span class="material-icons-sharp">verified</span>
    <h2>Thank You!</h2>
    <p>Out off delivery. Thank!</p>
    <button type="submit"><a href="/home">OK</a></button>
</div>

<%- include('../footer') %>