<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <script src="https://kit.fontawesome.com/bcc88c6bd9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-box-forget">
            <h1>Enter your email</h1>         
            <form method="post" action="/checkEmail" > 
                <div>
                    <div class="input-field">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="text" name="email" placeholder="Email" id="email"/>
                    </div>
                </div>
                <div class="btn-fields">
                    <button type="submit" class="btn btn-info">
                        submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="showalert">
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
                    <%= error.msg %>
                </div>
            <% }) %>
        <% } %>
    </div>
</body>
</html>