<%- include('../pageHeader') %>

    <div class="cart-pageconfirm">
        <div class="h3">your order is complete!! >>>>> click here <a href="/" class="comfirm-links">go to home page</a>
            or <a href="/trackOrder" class="comfirm-links">check your order tracking</a>
        </div>
    </div>
    
<%- include('../pageFooter') %>