<%- include('../pageHeader') %>
<section class="address">
    <div class="addnewaddress">
        <form method="post" action="/addNewaddress">
            <div class="input-group">
                <div class="input-field">
                    <input type="text" name="name" placeholder="ชื่อผู้รับ" />
                </div>
                <div class="input-field">
                    <input type="text" name="phone" placeholder="เบอร์โทรศัพท์" />
                </div>
                <div class="input-field">
                    <input type="text" name="home_number" placeholder="บ้านเลขที่" />
                </div>
                <div class="input-field">
                    <input type="text" name="mu_number" placeholder="หมู่,(ซอย , ถนน)" />
                </div>
                <div class="input-field">
                    <input type="text" name="tambun" placeholder="ตำบล" id="district" />
                </div>
                <div class="input-field">
                    <input type="text" name="district" placeholder="อำเภอ" id="amphoe" />
                </div>
                <div class="input-field">
                    <input type="text" name="province" placeholder="จังหวัด" id="province" />
                </div>
                <div class="input-field">
                    <input type="number" name="zip_code" placeholder="รหัสไปรษณีย์" id="zipcode" />
                </div>
            </div>
            <button class="btn" type="submit">
                Add
            </button>
        </form>
    </div>
</section>
<div class="showalerterror">
    <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
                <%= error.msg %>
            </div>
        <% }) %>
    <% } %>
</div>


    <%- include('../pageFooter') %>